{% extends 'base.html' %}
{% block main %}
    <h1>All Active NBA Players During the 2023-2024 Season</h1>
    <p />
    <table>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>View Per Game Statistics</th>
            <th>View Total Statistics</th>
            <th>View Game Log</th>
            <th>View Career Per Game Averages</th>
        </tr>
        {% for player in players %}
            {% if loop.index % 2 == 0 %}
                <tr class="even_row">
            {% else %}
                <tr class="odd_row">
            {% endif %}
                <td>{{ player.full_name }}</td>
                <td>{{ player.id }}</td>
                <td><button type="button" class="button" onclick=simple_action("{{ url_for('show_players_per_game_stats', player=player.full_name) }}")>View Per Game Stats</button></td>
                <td><button type="button" class="button" onclick=simple_action("{{ url_for('show_players_total_stats', player=player.full_name) }}")>View Total Stats</button></td>
                <td><button type="button" class="button" onclick=simple_action("{{ url_for('show_players_gamelog', player=player.full_name) }}")>View Game Log</button></td>
                <td><button type="button" class="button" onclick=simple_action("{{ url_for('show_players_career', player=player.full_name) }}")>View Career Stats</button></td>
            </tr>   
        {% endfor %}
    </table>
    <p />
    <script type="text/javascript">
        function simple_action(target) {
            window.location = target
        }
    </script>
{% endblock %}
