{% extends 'base.html' %}
{% block main %}
    <h1>Total Player Stats for {{ player_name }} </h1>
    <table>
        <tr>
            <th>Points</th>
            <th>Assists</th>
            <th>Rebounds</th>
            <th>Steals</th>
            <th>Blocks</th>
            <th>Field Goals Attempted</th>
            <th>Field Goals Made</th>
            <th>3-Point Field Goals Attempted</th>
            <th>3-Point Field Goals Made</th>
            <th>Free Throws Attempted</th>
            <th>Free Throws Made</th>
            <th>Turnovers</th>
            <th>Games Played</th>
        </tr>
        <tr>
            <td>{{ player_stats.PTS }}</td>
            <td>{{ player_stats.AST }}</td>
            <td>{{ player_stats.REB }}</td>
            <td>{{ player_stats.STL }}</td>
            <td>{{ player_stats.BLK }}</td>
            <td>{{ player_stats['FGA'] }}</td>
            <td>{{ player_stats['FGM'] }}</td>
            <td>{{ player_stats['FG3A'] }}</td>
            <td>{{ player_stats['FG3M'] }}</td>
            <td>{{ player_stats['FTA'] }}</td>
            <td>{{ player_stats['FTM'] }}</td>
            <td>{{ player_stats.TOV }}</td>
            <td>{{ player_stats.GP }}</td>
        </tr>
    </table>
    <button type="button" class="button" onclick=simple_action("{{ url_for('show_players', player=player_name) }}")>Go back to Players List</button>
    <button type="button" class="button" onclick=simple_action("{{ url_for('show_players_per_game_stats', player=player_name) }}")>View Per Game Stats</button>
    <button type="button" class="button" onclick=simple_action("{{ url_for('show_players_gamelog', player=player_name) }}")>View Game Log</button>
    <button type="button" class="button" onclick=simple_action("{{ url_for('show_players_career', player=player_name) }}")>View Career Stats</button>
</div>
<script type="text/javascript">
    function simple_action(target) {
        window.location = target;
    }
</script>
{% endblock %}
