body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

h1 {
  color: rgb(0, 0, 4);
  margin-left: 20px;
  font-size: 24px;
}

table, th, td {
  border: 1px solid;
  padding: 5px
}

th {
  background-color: darkblue;
  color: white;
}

input[type=submit] {
  background-color: darkblue;
  color: white;
}

.odd_row {
  background-color: white;
}

.even_row {
  background-color: lightgray;
}

.button {
  background-color: red; /* Change to red for NBA color */
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: darkred; /* Change to darkred for NBA color */
}


